# This is a standalone requirements file for the documentation requirements
# used by ReadTheDocs to set up the documentation rendering environment

# These should stay synced with other requirements files
Babel==2.14.0
docutils==0.21.2
Jinja2==3.1.4
pytz==2023.3.post1

# These requirements are unique to docs
Pygments==2.17.2
Sphinx==7.3.7
snowballstemmer==2.2.0
